<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE hibernate-configuration PUBLIC
        "-//Hibernate/Hibernate Configuration DTD 3.0//EN"
        "http://www.hibernate.org/dtd/hibernate-configuration-3.0.dtd">

<hibernate-configuration>
    <session-factory>
        <!--  Connection settings      -->
        <property name="hibernate.connection.driver_class">org.postgresql.Driver</property>
        <property name="hibernate.connection.url">jdbc:postgresql://lallah.db.elephantsql.com/kvjvflty</property>
        <property name="hibernate.connection.username">kvjvflty</property>
        <property name="hibernate.connection.password">LBCTRzx4dB4VqCTHfesWE1tejO3dOVe4</property>

        <property name="dialect">org.hibernate.dialect.PostgreSQL9Dialect</property>

        <!--  Print the executed SQL to stdout    -->
        <property name="show_sql">true</property>
        <property name="format_sql">true</property>

        <!--  Annotated entity classes  -->
        <mapping class="entities.Customer" />
        <mapping class="entities.Item" />
        <mapping class="entities.Sale"/>
        <mapping class="entities.Order" />
    </session-factory>
</hibernate-configuration>
